<!-- <p>{{olympics | json }}</p> -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<h1>Medals per country</h1>
<div class="flex-row">
    <div class="flex-column">
        <p class="custom-margin">Number of JOs</p>
        <p>{{NbrJOs}}</p>
    </div>
    <div class="flex-column">
        <p class="custom-margin">Number of countries</p>
        <p>{{NbrCountry}}</p>
    </div>
</div>

<ngx-charts-pie-chart [results]="data" [scheme]="colorSchemePC">

</ngx-charts-pie-chart>

<!-- <ngx-charts-pie-chart [results]="dataInterfaces" [scheme]="colorSchemePC"> -->
  <!-- <ng-template #tooltipTemplate let-model="model">
    <h1>
      {{olympics[0].id}}
    </h1>
    <h2>{{olympics[0].country}}%</h2>
  </ng-template> -->
<!-- </ngx-charts-pie-chart> -->