*{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
    border: 1px solid #04838F;
    border-radius: 15px;
    color: white;
    background-color: #04838F;
    width: 350px;
    margin: auto;
}

// div {
//     font-size: 1.2em;
// }

p {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: rgb(131, 131, 131);
}
.flex-row {
display: flex;
flex-direction: row;
justify-content: center;
}

.flex-column {
display: flex;
flex-direction: column;
// padding: 0px 10px 0px 10px;
padding-left: 10px;
padding-right: 10px;
border: 2px solid #04838F;
border-radius: 15px;
margin: 30px;
}

.custom-margin {
    margin-bottom: -5px;
}

ngx-charts-pie-chart {
    width: 500px;
    height: 500px;
    resize: none;
}

.custom-text {
    font-weight: 900;
    color: black;
}