// .custom-margin-tooltip-p1{
//     margin-top: 10px;
//     margin-bottom: 0px;
//     margin-left: 15px;
//     margin-right: 15px;
// }

// .custom-margin-tooltip-p2{
//     margin-top: -10px;
//     margin-bottom: 10px;
// }

.pie-chart {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.small-text{
    font-size: 1.1rem;
    color: whitesmoke;
}

.img {
    width: 14px;
    height: 14px;
    margin-top: -6px;
}

// @media screen and (max-width:390px){
    // h2 {
    //     font-size: 2rem;
    //     width: 350px;
    //     margin-top: 40px;
    // }

    // .flex-column {
    //     padding-left: 7px;
    //     padding-right: 7px;
    //     margin: 10px;
    // }

    // .flex-row {
    //     margin-top: 10px;
    // }

    // p {
    //     font-size: 1.1rem;
    // }

    // .pie-chart {
    //     margin-top: 20px;
    //     padding-top: -50px;
    // }

    // .custom-margin-tooltip-p1{
    //     margin-top: 10px;
    //     margin-bottom: 0px;
    //     margin-left: 0px;
    //     margin-right: 0px;
    // }
    
    // .custom-margin-tooltip-p2{
    //     margin-top: -10px;
    //     margin-bottom: 10px;
    // }
    
    // .marginTop30px{
    //     margin-top: 30px;
    // }

    // text {
    //     font-size: 2rem;
    // }
// }

// @media screen and (min-width:390){
//     text.ng-star-inserted, text.pie-label {
//         font-size: 1.4rem !important;
//     }
    
//     // text {
//     //     font-size: 2rem;
//     // }
// }

// @media screen and (min-width:850){
//     text.ng-star-inserted, text.pie-label {
//         font-size: 1.4rem !important;
//     }
    
//     // text {
//     //     font-size: 2rem;
//     // }
// }