* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 2.6rem;
    border: 1px solid #04838F;
    border-radius: 15px;
    color: white;
    background-color: #04838F;
    width: 400px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: auto;
    margin-top: 20px;
}

p {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
}

.flex-row {
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 10px;
}

.flex-row-fix{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.flex-column {
display: flex;
flex-direction: column;
padding-left: 30px;
padding-right: 30px;
padding-bottom: -5px;
border: 2px solid #04838F;
border-radius: 15px;
margin: 30px;
}

.custom-text {
    font-weight: 900;
    color: black;
}

.custom-margin-p1 {
    margin-bottom: 0px;
    margin-top: 10px;
}

.custom-margin-p2 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.ngx-charts .gridline-path {
    stroke: black !important;
    stroke-width: 0.7px !important;
}

.ngx-charts-tooltip-content.type-tooltip{
    background: #04838F !important;
}

.tooltip-caret.position-top {
    border-top: 7px solid #04838F !important;
}

// .ngx-charts-tooltip-content.position-top {
//     transform: translateY(70px) !important;
// }

@media screen and (max-width:390px){
    h2 {
        font-size: 2rem;
        width: 350px;
        margin-top: 40px;
    }

    .flex-column {
        padding-left: 7px;
        padding-right: 7px;
        margin: 10px;
    }

    .flex-row {
        margin-top: 10px;
        flex-direction: column;
    }

    p {
        font-size: 1.1rem;
    }

    .pie-chart {
        margin-top: 20px;
        padding-top: -50px;
    }

    .custom-margin-tooltip-p1{
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .custom-margin-tooltip-p2{
        margin-top: -10px;
        margin-bottom: 10px;
    }
    
    .marginTop30px{
        margin-top: 30px;
    }

    text.ng-star-inserted, text.pie-label {
        font-size: 1.1rem !important;
    }
    
    path.pie-label-line, path.line {
        stroke-width: 1.5px;
    }

    g.pie-chart {
        transform: translate(160px, 150px)
        //transform: translateY(150px);
    }

    div.ngx-charts-outer {
        // width: 350px !important;
        height: 350px !important;
    }

    .ngx-charts-tooltip-content.position-top {
        transform: translateY(30px) !important;
    }

    svg.ngx-charts {
        height: 350px;
    }

    text {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 390) and (max-width:810){
    h2 {
        font-size: 2rem;
        width: 350px;
        margin-top: 40px;
    }

    .flex-column {
        padding-left: 7px;
        padding-right: 7px;
        margin: 10px;
    }

    .flex-row {
        margin-top: 10px;
        flex-direction: column;
    }

    p {
        font-size: 1.1rem;
    }

    .pie-chart {
        margin-top: 20px;
        padding-top: -50px;
    }

    .custom-margin-tooltip-p1{
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .custom-margin-tooltip-p2{
        margin-top: -10px;
        margin-bottom: 10px;
    }
    
    .marginTop30px{
        margin-top: 30px;
    }

    text.ng-star-inserted, text.pie-label {
        font-size: 1.1rem !important;
    }
    
    path.pie-label-line, path.line {
        stroke-width: 1.5px;
    }

    g.pie-chart {
        transform: translate(160px, 150px)
        //transform: translateY(150px);
    }

    div.ngx-charts-outer {
        // width: 350px !important;
        height: 350px !important;
    }

    .ngx-charts-tooltip-content.position-top {
        transform: translateY(30px) !important;
    }

    svg.ngx-charts {
        height: 350px;
    }

    text {
        font-size: 1.2rem;
    }
}

@media screen and (min-width:850){

}