* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 2.6rem;
    border: 1px solid #04838F;
    border-radius: 15px;
    color: white;
    background-color: #04838F;
    width: 400px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: auto;
    margin-top: 20px;
}

p {
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    color: rgb(131, 131, 131);
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.flex-row-fix{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: -5px;
    border: 2px solid #04838F;
    border-radius: 15px;
    margin: 30px;
}

.custom-text {
    font-weight: 900;
    color: black;
}

.custom-margin-p1 {
    margin-bottom: 0px;
    margin-top: 10px;
}

.custom-margin-p2 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.ngx-charts .gridline-path {
    stroke: black !important;
    stroke-width: 0.7px !important;
}

.ngx-charts-tooltip-content.type-tooltip{
    background: #04838F !important;
}

.tooltip-caret.position-top {
    border-top: 7px solid #04838F !important;
}


@media (max-width:600px){
    h2 {
        font-size: 2rem;
        width: 350px;
        margin-top: 40px;
    }

    .flex-column {
        padding-left: 7px;
        padding-right: 7px;
        margin: 5px;
    }

    .flex-row {
        margin-top: 10px;
        flex-direction: column;
    }

    p {
        font-size: 1.1rem;
    }    

    .pie-chart {
        margin-top: 20px;
        padding-top: -50px;
    }

    .custom-margin-tooltip-p1{
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .custom-margin-tooltip-p2{
        margin-top: -10px;
        margin-bottom: 10px;
    }

    .marginTop30px{
        margin-top: 30px;
    }

    text.ng-star-inserted, text.pie-label {
        font-size: 1.1rem !important;
    }

    path.pie-label-line, path.line {
        stroke-width: 1.5px;
    }

    g.pie-chart {
        // transform: scale(1) translate(165px, 180px)
        display: flex;
        margin: auto;
        transform: translateY(180px);
    }

    div.ngx-charts-outer {
        height: 300px !important;
        // transform: scale(0.8) translate(5px,-80px);
    }

    .ngx-charts-tooltip-content.position-top {
        transform: translateY(30px) !important;
    }

    svg.ngx-charts {
        height: 350px;
    }

    text {
        font-size: 1.2rem;
    }
}

@media (max-width:810px) and (min-width:600px) {
    h2 {
        font-size: 2.5rem;
        width: 600px;
        margin-top: 40px;
    }

    .flex-column {
        padding-left: 15px;
        padding-right: 15px;
        margin: 5px;
    }

    p {
        font-size: 1.4rem;
    }

    
    .custom-margin-tooltip-p1{
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .custom-margin-tooltip-p2{
        margin-top: -10px;
        margin-bottom: 10px;
    }
    
    .marginTop30px{
        margin-top: 30px;
    }
    
    text.ng-star-inserted, text.pie-label {
        font-size: 1.47rem !important;
    }
    
    path.pie-label-line, path.line {
        stroke-width: 2.5px;
    }
    
    g.pie-chart {
        // transform: scale(0.9) translate(410px, 340px);
        transform: scale(0.9);
        transform: translateY(340px);
        
        // margin: auto;
    }
    
    .pie-chart {
        margin-top: 20px;
        padding-top: -50px;
    }
    
    div.ngx-charts-outer {
        height: 350px !important;
        // transform: scale(0.95) translate(0px,0px);
        display: flex;
        transform: scale(0.95);
        margin: auto;
    }

    .ngx-charts-tooltip-content.position-top {
        transform: translateY(70px) !important;
    }

    svg.ngx-charts {
        height: 350px;
    }

    text {
        font-size: 1.575rem;
    }
}

@media (min-width:811px){
    h2 {
        font-size: 2.5rem;
        width: 600px;
        margin-top: 40px;
    }

    .flex-column {
        padding-left: 15px;
        padding-right: 15px;
        margin: 30px;
    }

    p {
        font-size: 1.4rem;
    }

    .pie-chart {
        margin-top: 20px;
        padding-top: -50px;
    }

    .custom-margin-tooltip-p1{
        margin-top: 10px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .custom-margin-tooltip-p2{
        margin-top: -10px;
        margin-bottom: 10px;
    }

    .marginTop30px{
        margin-top: 30px;
    }

    text.ng-star-inserted, text.pie-label {
        font-size: 1.764rem !important;
    }

    path.pie-label-line, path.line {
        stroke-width: 2.5px;
    }

    g.pie-chart {
        transform: translate(920px, 350px);
    }

    div.ngx-charts-outer {
        height: 350px !important;
        transform: scale(0.95) translate(0px,0px);
    }

    .ngx-charts-tooltip-content.position-top {
        transform: translateY(80px) !important;
    }

    svg.ngx-charts {
        height: 350px;
        transform: scale(0.8) translate(0px,-100px);

    }

    text {
        font-size: 1.8rem;
    }

}