<app-header/>

<h2>{{country}}</h2>
<div class="flex-row divBackButton" routerLink="">
    <img class="img" src="./assets/images/retour.png" alt="flèche retour" routerLink="">
    <a class="buttonTextColor" routerLink="">GO BACK</a>
</div>
<div class="flex-row">
    <div class="flex-column">
        <p class="custom-margin-p1">Number of entries</p>
        <p class="custom-margin-p2 custom-text">{{NbrEntries}}</p>
    </div>
    <div class="flex-column">
        <p class="custom-margin-p1">Total number medals</p>
        <p class="custom-margin-p2 custom-text">{{TotalNbrMedals}}</p>
    </div>
    <div class="flex-column">
        <p class="custom-margin-p1">Total number of athletes</p>
        <p class="custom-margin-p2 custom-text">{{TotalNbrAtheletes}}</p>
    </div>
</div>

<ngx-charts-line-chart  [results]="data" 
                        [view]="[800,500]"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [showGridLines]="showGridLines"
                        [showXAxisLabel]="showXAxisLabel"
                        [xAxisLabel]="xLabel"
                        [tooltipDisabled]="true"
                        class="line-chart">
</ngx-charts-line-chart>